<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/Allocator.css' />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47725173-1', 'fusanpro.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="controller">
      <h1><%= title %></h1>
      <span id="star" class="button">★</span>
      <span id="percent" class="button">%</span>
      <span id="randscape" class="button_right">BG</span>
      <span id="total" class="button"></span>
    </div>
    <div id="init_port"></div>
    <div id="visualize">
      <div id="chart">
        <div id="chart_head"></div>
        <div id="chart_body"></div>
      </div>
      <div id="historys">
        <div id="history_head"></div><div id="history_body"></div></div>
    </div>
    <div id="modal"><div id="modal_inner"></div></div>
    <footer><span id="donate"></span><span id="footer_explain">作者: fusan</span></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/d3.v3.min.js"></script>
    <script src="/javascripts/Allocator.js"></script>
    <script src="/javascripts/jquery.qrcode.min.js"></script>
  </body>
</html>
