h1 {
  padding: 0 1%;
}

h1::first-letter {
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

#controller {
  padding: 0.5% 1%;
  width: 100%;
  height: 2rem;
  border-bottom: 1px dotted rgb(235, 226, 226);
}

#visualize {
  float: left;
  width: 100%;
  height: auto;
  border-top: 1px dotted rgb(235, 226, 226);
}

#chart {
  float: left;
  width: 100%;
  height: auto;
}

#init_port {
  overflow: scroll;
  float: left;
  width: 100%;
  height: 320px;
}

#total {
  margin: 0 2rem 0 0;
}

#BTC_JPY {
  display: none;
}

#modal {
  transition: 0.5s ease 0;
}

#modal_inner {
  overflow: scroll;
  margin: 2.5% auto;
  width: 90%;
  height: 90%;
  background: white;
}

#percent {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 4px black;

}

#star {
  color: white;
  text-shadow: 0 0 4px black;
}

.rotate {
  transform: rotateY(360deg);
  color: red;
  text-shadow: 0 0 4px red;
}

.modal {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.58);
  transition: 0.5s ease 0;
}

.button {
  display: inline-block;
  margin: 0 1rem 0 0;
  height: 2rem;
  text-align: left;
  line-height: 2rem;
  font-weight: bold;
  color: gray;
  text-shadow: 0 0 1px black inset;
  transition: .5s ease 0;
}

.button:hover {
  color: red;
}

.star {
  color: white;
  text-shadow: 0 0 2px gray;
}

.stared {
  color: red;
}

.animate {
  transition: 1s ease 0;
  transform: rotateX(360deg);
}

.pickup_port {
  float: left;
  margin: 0.5% 0;
  padding: 0;
  width: 10%;
  height: auto;
  text-align: center;
  box-shadow: 0 0 1px gray;
}

.pickup_port_name {
  margin: 2px auto;
  font-size: 1rem;
  background: rgb(252, 252, 252);
}

.pickup_port_radio {
  display: block;
  margin: 2px auto;
  padding: 0;
}

.card {
  position: relative;
  float:left;
  margin: 1%;
  padding: 1%;
  width: auto;
  height: auto;
  font-size: 1rem;
  box-shadow: 0 0 1px gray;
  transition: 1s ease-in-out 0;
}

.slider {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  color: white;
  /*background: rgba(0, 0, 0, 0.7);*/
  transition: 0.2s ease 0;
}

.slider_inner {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  line-height: 2rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
}

.slider_in {
  width: 2rem;
}

.ts {
  color: gray;
}

.balance {
  margin: 1% 0;
  padding: 1%;
  color: green;
  border-width: 0;
  border-bottom: 1px dotted rgb(215, 214, 213);
}

.bircon_balance {
  margin: 0;
  padding: 0;
}

.tooltip {
  width: auto;
  height: auto;
  background: rgb(222, 91, 91);
  transition: 1s ease 0;
  z-index: 10;
}

.key,.btc_balance,.per_btc {
  display: inline-block;
  padding: 0.1rem 0.2rem;
}

.key {

  width: 6rem;
  background: rgb(215, 214, 213);
}

.btc_balance {
  width: 5rem;
}

.per_btc {
  width: 3rem;
  background: rgb(215, 214, 213);
}

@media screen and (max-width: 760px) {

  #init_port {
    float: left;
    padding: 0;
    width: 100%;
    height: auto;
    background: rgb(254, 254, 244);
  }

  .card {
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    width: 48%;
    height: auto;
    font-size: 1rem;

  }

  .pickup_port_name {
    margin: 2px auto;
    font-size: 0.7rem;
    background: rgb(252, 252, 252);
  }

}
